body{
    background-color: black;
}

.jumbo{
    background-color: orange;
    margin-left: 19px;
    margin-right: 19px;
    cursor: pointer;
}

.type{
    color: orange;
    
}

.city-question{
    color: orange;
}

.favorite-bar{
    color: white;
}

.favorite-btn{
    margin-top: 3px;
    margin-bottom: 5px;
    background-color: orange;
}

.menu-bar{
    background-color: orange;
    display: inline-block;
    color: black;
    margin: 5px;
    height: 225px;
}

.search-btn{
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: orange;
}

.city-search{
    margin-left: 12px;
    margin-right: 12px;
    width: 200px;
}

.city-question{
    margin-bottom: 10px;
}

.main-body{
    height: 500px;
    background-color: orange;
    margin: 5px;
}

h1{
    display: inline;
    font-family: papyrus;
    margin-right: 5px;
}

.broom{
    width: 10%;
    height: auto;
    vertical-align: middle;
}
ul{
    color: orange;
}

.brew-list{
    border: 5px;
    border-color: orange;
    border-style: solid;
    padding: 5px;
    margin-top: 5px;
    margin-left: 19px;
    margin-right: 19px;
}

.brew-list h3{
    color: black;
    background-color: orange;
}

* {
    margin: 0;
    padding: 0;
}
#map {
    height: 400px;
    width: 90%;
    margin-bottom: 15px;
}
.fav-button{
    display: block;
    background-color: orange;
    color: black;
    margin-top: 10px;

}